/* If you see this I'm sorry. I have no clue what I'm doing */
/* ! External */

.melonLink img {
	width: 300px;
	height: 30px;
	border-radius: 0px;
}
.melonLink {
	border-radius: 0px;
}

.listening {
	display: flex;
	width: 176px;
	height: 80px;
	font-size: 0.8em;
	gap: 7px;
	align-items: center;
	text-align: left;
}

#statuscafe {
	padding-top: 1em;
	background-color: #fff;
	width: 177px;
}
#statuscafe-username {
	margin-bottom: 0.5em;
	font-size: 1em;
}
#statuscafe-content {
	min-width: 100%;

	margin: 0 0 0.5em 1px;
	font-size: 1em;
	max-height: 55px;
	overflow-x: scroll;
}

* {
	scrollbar-width: thin;
	font-family: "Times New Roman", Times, serif;
}
body {
	background-color: #fff;
	color: #000;
}
html,
body {
	overflow-x: hidden;
}

/*! Filters*/
.grayscale {
	filter: grayscale(100%) contrast(1);
}
.grayscale:hover {
	filter: none;
	transition: 100ms ease-in;
}

.pixelate img {
	image-rendering: pixelated;
}

/* ! About */
.right-column {
	float: left;
	width: 180px;
	max-width: 180px;
}

.photo img {
	max-width: 180px;
	object-fit: cover;
}
details {
	margin-top: 20px;
	width: 60ch;
	float: left;
	margin-bottom: 20px;
}
.credits {
	font-size: 1.1em;
	a {
		font-size: 1.1em;
	}
	p {
		font-size: 1em;
		margin: 0;
	}
}

.right-column textarea {
	white-space: wrap;
	min-width: 170px;
	max-width: 170px;
	height: 60px;
	max-height: 170px;
	resize: vertical;
}
.updates {
	overflow-x: scroll;
	overscroll-behavior: none;
	height: 10rem;
	ul {
		line-height: 1.5em;
		padding-bottom: 15px;
		padding-left: 30px;
		padding-right: 20px;
		border-bottom: 1px dotted rgb(129, 129, 129);
	}
	li {
		margin-bottom: 5px;
	}
	.webring {
		margin: 0 auto;
	}
	h4 {
		padding-left: 20px;
	}
	summary {
		margin-bottom: 10px;
	}
}
.about {
	float: left;
	margin-right: 50px;
}
footer {
	display: flex;
	flex-direction: row;
	gap: 4px;
	position: absolute;
	bottom: 0px;

	p {
		font-size: 0.8em;
	}
	p:not(:first-child)::before {
		display: inline-block;
		margin: 0 3px;
		content: "- ";
	}
	p:not(:last-of-type) {
		margin-right: 0px;
	}
}

/* ! Buttons */
.buttons {
	display: flex;
	flex-wrap: wrap;
	column-count: 2;
	gap: 4px;
	min-width: 180px;
	max-width: 180px;
	height: 285px;
	max-height: calc(100% - 42px);
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	scrollbar-width: none;
	img {
		width: 88px;
		height: 31px;
	}
}
#me {
	max-height: 31px;
}
.nobutton {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	min-width: 88px;
	min-height: 31px;
	max-width: 88px;
	max-height: 31px;
	text-decoration: underline dotted;
	font-size: 0.9em;
}

.mybuttons {
	width: 176px;
	margin-bottom: 10px;
	column-count: 2;
}

::selection {
	color: #fff;
	background-color: rgb(122, 122, 122);
}
a:hover {
	text-decoration: none;
}
a {
	color: rgb(85, 85, 85);
}
p {
	font-size: 1.2em;
	max-width: 60ch;
}
.button {
	display: block;
	align-self: center;
	width: 88px;
	height: 31px;
}

/* ! Header */
header {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 50px;
	position: absolute;
	padding-right: 3vw;
	z-index: 2;
	/* padding-top: 2px; */
	align-items: center;

	.button {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 2vw;
		padding-right: 2vw;
	}
}

nav {
	height: fit-content;
	padding-top: 0.5em;
	padding-right: 3em;
	line-height: 1.5em;

	a:not(:last-of-type) {
		margin-right: 1vw;
	}
	a {
		color: rgb(85, 85, 85);
		font-size: 20px;
		text-decoration: none;
	}
}

#navmenu {
	display: none;
	margin-left: auto;
	margin-right: 2em;
	user-select: none;
	width: fit-content;
	summary {
		font-size: 3em;
		cursor: pointer;
	}
	summary::marker {
		content: "≡";
	}
	div {
		position: absolute;
		top: 1em;
		right: 0.5em;
		margin: 1em;
		background-color: white;
		border: 2px dotted rgb(85, 85, 85);
		z-index: 2;
		font-size: 1.5em;
		padding: 0 1em;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0.5em 0;
		line-height: 1.5em;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

/* ! Sections */
.tab section {
	padding-top: calc(2.4em + 1vw);
	padding-right: 0vw;
	padding-bottom: 1vw;
	padding-left: 5vw;
	position: absolute;
	min-height: 90vh;
	width: 100%;
	background-color: #fff;
}
.tab section:not(:target) {
	display: none;
}

.weblistcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
}

.webrings {
	max-width: 300px;
	width: 51vw;
	margin-right: 50px;
	margin-left: 10px;
}
.webringcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 9px;
}
.fanlistings {
	width: 50%;
}
.fanlistingcontainer {
	width: 300px;
	display: flex;
	justify-content: baseline;
	flex-wrap: wrap;
	gap: 5px;
}

.mylinks {
	line-height: 1.6em;
	a {
		font-size: 18px;
	}
}

.uses {
	width: 90%;
	li {
		font-size: 1.2em;
	}
}

#useslist {
	font-size: 1.2em;
	line-height: 1.6em;
	a {
		margin-bottom: 10px;
	}
	p {
		font-size: 0.9em;
		line-height: 1.6em;
		margin-top: 0;
		margin-bottom: 10px;
		text-indent: 7px;
	}
}

#disclaimer {
	display: block;
	padding: calc(3em + 1vw) 5vw 8vw 5vw;
}

#joined p {
	width: 90%;
}

/* ! Table */
.row-column {
	display: flex;
	flex-direction: row;
	padding-right: 20px;
}

.listboxcontainer {
	display: flex;
	flex-direction: column;
	gap: 7px;
	flex-wrap: nowrap;
	max-width: 350px;
}

.listbox {
	padding: 0.5em;
	line-height: 22px;
	margin-right: 3%;
	font-size: 1.1em;
	text-align: left;

	h3 {
		margin-top: 0;
	}
}

/* ! Guestbook */
.guest {
	position: relative;
	top: 3em;

	iframe {
		display: block;
		border: none;
		width: 70%;
		height: 800px;
		overflow-x: auto;
		scrollbar-width: none;
	}
}

/* ! Contact */
.contact {
	width: 90vw;
	#useslist p {
		text-indent: 0px;
		font-size: 0.9em;
		margin-top: 0.5em;
	}
	.contactform input[type="text"],
	select,
	textarea {
		padding-left: 5px;
		padding-top: 5px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		height: 100px;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 300px;
	font-size: 1.2em;
	margin: 1rem 0;
}

#contact > #contact {
	label,
	input {
		margin-bottom: 5px;
	}
	input {
		font-size: 0.8em;
	}
	h3 {
		font-size: 1.3em;
		margin-bottom: 0.2em;
	}
}

input#name,
input#email {
	padding: 0.5em;
}

/* ! Responsiveness */

@media screen and (max-width: 500px) {
	.guest iframe {
		width: 300px;
		margin: 0 auto;
	}
	footer p {
		font-size: 0.6em;
	}
}

@media screen and (max-width: 530px) {
	.listboxcontainer {
		flex-wrap: wrap;
		width: 100%;
	}
	.row-column {
		flex-direction: column;
	}
}

@media screen and (max-width: 890px) {
	.about {
		width: 50%;
	}
}

@media screen and (max-width: 630px) {
	nav {
		display: none;
	}
	#navmenu {
		display: block;
	}
}

@media screen and (max-width: 550px) {
	.about {
		width: 90%;
	}

	header {
		.button {
			padding-left: 5vw;
		}
	}

	#player,
	.mybuttons,
	span,
	#statuscafe {
		align-self: baseline;
	}

	#statuscafe {
		width: 70vw;
	}

	.me {
		display: none;
	}
	details,
	.updates {
		width: 85vw;
	}

	.right-column {
		display: flex;
		margin-left: 1.2em;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 100vw;
		width: 80vw;
		.buttons {
			min-width: 85vw !important;
			padding-left: 1.5em;
			margin-bottom: 3em;
		}
	}
	nav {
		padding-left: 5vw;
		line-height: 1.6em;
		padding-top: 10px;
		padding-right: 2vw;
	}
}
