* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-4/cur330.cur), auto !important;
}
.entry-sidebar {
  float: left;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 20%;
}
.entries article#placeholder {
  display: block;
}
.entries {
  float: left;
  overflow-x: scroll;
  background-color: black;
}
article {
  max-width: 60ch;
}
.entries article:target {
  display: block;
}
.entries article {
  display: none;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-color: black;
}
a {
  text-decoration: none;
}
.entries {
  color: white;
}
a {
  color: #988aff;
  text-decoration: none;
}

::selection {
  background-color: rgb(158, 147, 255);
  color: black;
}

dd {
  margin-bottom: 20px;
  margin: 19px;
}

dt {
  margin-top: 5px;
}
